body {
  background-color: #f4f4f4;
}

a {
  color: rgb(2, 134, 46);
}

a:hover {
  text-decoration: none;
}

.brand-text {
  padding-left: 1rem;
  font-weight: bold;
}

.py-5 {
  padding-top: 4rem !important;
  padding-bottom: 4rem !important;
}

.footer {
  background-color: #111;
  color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 0.8rem;
}

.footer a {
  color: #38f689;
}

.foot-icon {
  vertical-align: text-top;
}

.navbar-dark {
  background-color: #111;
  box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2);
}

.navbar-dark .navbar-nav .nav-link {
  color: white;
}

.navbar {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #38f689;
}

.intro-text {
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 1.1rem;
  line-height: 1.9rem;
  padding-bottom: 1.5rem;
}

.intro-text .highlight:hover {
  color: #fff;
  text-decoration: none;
}

.about-text {
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 1.1rem;
  line-height: 2.2rem;
  color: black;
}

.post-summary {
  padding-bottom: 2rem;
}

.post-excerpt {
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
  padding-top: 0.5rem;
  font-size: 1rem;
  color: black;
}
.post-excerpt-bg {
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-style: italic;
  padding-top: 0.5rem;
  font-size: 1.3rem;
  color: black;
}

.highlight {
  background-color: #111;
  color: white;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
}

.highlight:hover {
  color: #38f689;
  text-decoration: none;
}

.list-post-date {
  text-transform: uppercase;
  font-weight: bold;
}
.list-post-title {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 0.5rem;
  font-size: 1.2rem;
  padding-bottom: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
}

.post-header {
  background-color: #ffb700;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.post-title {
  background-color: #111;
  color: white;
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  font-size: 10vw;
  font-weight: bold;
}

.post-byline {
  text-transform: uppercase;
  font-size: 0.8rem;
}

.post-date {
  text-transform: uppercase;
  font-weight: normal;
  font-size: 0.7rem;
  line-height: 1.5rem;
}

.post-content {
  font-family: Georgia, Times, 'Times New Roman', serif;
  font-size: 1.1rem;
  color: #333;
  padding-bottom: 6rem !important;
}

.post-content li {
  padding-bottom: 1rem;
}

.post-content p {
  padding-bottom: 0.6rem;
  line-height: 1.9rem;
}

.post-content a,
.about-text a,
.intro-text a,
.post-nav a {
  color: #333;
  border-bottom: 2px solid #2d59e8;
}
.post-content a:hover,
.about-text a:hover,
.intro-text a:hover,
.post-nav a:hover {
  color: #2d59e8;
}

blockquote {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding: 1rem;
  padding-bottom: 0rem;
  background-color: #a0f7c6;
  border-left: 6px grey solid;
}

.post-content h4 {
  font-size: 1.3rem;
}

.post-content h1,
.post-content h2,
.post-content h3,
.post-content h4,
.post-content h5,
.post-content h6 {
  font-weight: bold;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.gatsby-resp-image-wrapper + em {
  font-style: normal;
  padding-top: 0.5rem;
  font-family: sans-serif;
  color: gray;
  display: inherit;
  text-align: center;
  font-size: 80%;
}
